.component-a-container {
    background: rgb(71,88,92);
    background: linear-gradient(180deg, rgba(71,88,92,1) 0%, rgba(52,59,62,1) 100%);
    max-width: 662px;
    padding: 21px 31px 11px 40px;
    margin: 20px 0;

    .info-box {
        color: #777780;
        line-height: 17px;
        &__h3 {
            font-size: 25px;
        }
        &__h5 {
            font-size: 15px;
        }
        &__span {
            font-size: 11px;
        }
        &.red {
            color: #e23333 !important;
        }
        &.orange {
            color: #cb9b47;
        }
        &.blue {
            color: #2699fb;
        }
    }

    .chart-container {
        height: 70px;
    }
    &__header {
        .header {
            text-align: left;
            &__h1 {
                font-size: 33px;
                color: #fff;
                text-transform: uppercase;
                line-height: 30px;
            }
            &__h6 {
                font-size: 14px;
                color: #777780;
            }
        }
    }
    &__footer {
        font-size: 11px;
        color: #8e8ec1;
    }
}